# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
.venv/
venv/
env/

# VS Code
.vscode/

# OS Files
.DS_Store
Thumbs.db

# Logs
*.log

# Build Files
build/
dist/
*.spec

# Python Cache
.pytest_cache/
.mypy_cache/

# Environment Variables
.env

# Jupyter
.ipynb_checkpoints/